* {
    box-sizing: border-box;
}

html,
body {
    background-color: #ffffff;
    background-image: url("https://media.istockphoto.com/vectors/white-clouds-blue-sky-seamless-pattern-vector-id621486702?b=1&k=6&m=621486702&s=612x612&w=0&h=7hyef78i8xyNHKQmlx1yt-ellq-b-TUVGRmn2PnTDNM=");
    background-repeat: auto;
}

.parallax {
    -webkit-perspective: 100px;
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    margin-left: -1500px;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__layer img {
    display: block;
    position: absolute;
    bottom: 0;
}

.parallax__cover {
    background: #000000;
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 2000px;
    z-index: 2;
    color: #ffffff;
    text-align: center;
}

.parallax__layer__0 {
    -webkit-transform: translateZ(-300px) scale(4);
    transform: translateZ(-300px) scale(4);
}

.parallax__layer__1 {
    -webkit-transform: translateZ(-250px) scale(3.5);
    transform: translateZ(-250px) scale(3.5);
}

.parallax__layer__2 {
    -webkit-transform: translateZ(-200px) scale(3);
    transform: translateZ(-200px) scale(3);
}

.parallax__layer__3 {
    -webkit-transform: translateZ(-150px) scale(2.5);
    transform: translateZ(-150px) scale(2.5);
}

.parallax__layer__4 {
    -webkit-transform: translateZ(-100px) scale(2);
    transform: translateZ(-100px) scale(2);
}

.parallax__layer__5 {
    -webkit-transform: translateZ(-50px) scale(1.5);
    transform: translateZ(-50px) scale(1.5);
}

.parallax__layer__6 {
    -webkit-transform: translateZ(0px) scale(1);
    transform: translateZ(0px) scale(1);
}

.text {
    background-color: white;
    color: black;
    font-family: arial;
    font-size: 10vw;
    /* Responsive font size */
    font-weight: bold;
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    /* Center the text container */
    padding: 10px;
    width: 50%;
    text-align: center;
    /* Center text */
    position: absolute;
    /* Position text */
    top: 50%;
    /* Position text in the middle */
    left: 50%;
    /* Position text in the middle */
    transform: translate(-50%, -50%);
    /* Position text in the middle */
    mix-blend-mode: screen;
    /* This makes the cutout text possible */
}