@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url('/font-awesome-4.6.3/css/font-awesome.min.css');
.test input {
  border: 0; 
}

body {
  max-width: 500px;
  margin: auto;
  transition: 0.3s;
}

.hcenter {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

footer {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.vcenter {
  position: relative;
}

#acthis {
  background-color: #ffffff;
  border: none;
  color: #000000;
  padding: 1px;
  height: 100%;
  width: 100%;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 5px;
  cursor: pointer;
  white-space: normal;
  word-wrap: break-word;
  
  transition: 0.3s;
  border-top-style: groove;
  border-right-style: groove;
  border-left-style: groove;
  border-bottom-style: groove;
}

.dark-mode #acthis {
  background-color: #000000;
  border: none;
  color: white;
  padding: 1px;
  height: 100%;
  width: 100%;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 5px;
  cursor: pointer;
  white-space: normal;
  word-wrap: break-word;
  
  transition: 0.3s;
  border-top-style: groove;
  border-right-style: groove;
  border-left-style: groove;
  border-bottom-style: groove;
}

.button {
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  cursor: pointer;
  
  transition: 0.3s;
}

.dark-mode .button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  cursor: pointer;
  
  transition: 0.3s;
}

#lightdark .button {
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  cursor: pointer;
  
  transition: 0.3s;
}

.dark-mode #lightdark .button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  cursor: pointer;
  
  transition: 0.3s;
}

h1 {
  transition: 0.3s;
}

::-webkit-calendar-picker-indicator {
  transition: 0.3s;
}

input {
  transition: 0.3s;
}

::placeholder {
  transition: 0.3s;
}

.box {
  #background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    );
  background-repeat: repeat;
  background-color: rgba(255, 255, 255, 0.048);
  color: rgb(0, 0, 0);
  transition: 0.3s;
}

.box:hover {
  font-weight: bold;
  transition: 0.3s;
}

.dark-mode {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-style: none;
  border: 0;
  transition: 0.3s;
}

.dark-mode h1 {
  color: rgb(255, 255, 255);
  border-style: none;
  border: 0;
  transition: 0.3s;
}

.dark-mode ::-webkit-calendar-picker-indicator {
  filter: invert(1);
  transition: 0.3s;
}

.dark-mode input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: 0.3s;
}


.dark-mode input ::placeholder {
  color: white;
  transition: 0.3s;
}

.dark-mode .box {
  border-top-style: groove;
  border-right-style: groove;
  border-left-style: groove;
  border-bottom-style: groove;
  background-color: rgba(0, 0, 0, 0.041);
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 5%;
  transition: 0.3s;
}


.dark-mode .navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 5%;
  background-color: rgb(0, 0, 0);
  transition: 0.3s;
}

.fas .fa-moon {
  font-size: 25px;
}

.fas .fa-sun {
  font-size: 25px;
}

